*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/docker
/sail
/public/vendor
/resources/views/vendor/livewire
/resources/views/vendor/mail
/resources/views/vendor/notifications
/resources/views/vendor/scramble
/routes/ai.php
/resources/views/mcp
/config/debugbar.php
.history/
.claude/
/docs